version: "3"
services:

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
    volumes:
      - ./../:/var/www/html/
    ports:
      - "127.0.0.1:80:80"
    stdin_open: true
    tty: true

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      # SQL skripty na automatické vytvorenie tabuľiek pri prvom štarte
      - ./sql:/docker-entrypoint-initdb.d
      # trvalé uloženie dát
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

  adminer:
    image: adminer
    links:
      - postgres
    depends_on:
      - postgres
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    ports:
      - "127.0.0.1:8080:8080"
volumes:
  postgres_data:







